
body {
background-color: #04B4E5;
font-family: georgia, serif;
color: white;
width: 100%;
margin: 0px;
padding: 0px;
text-align: center;
}
h1
{
text-align: center;

}
.navbar
{
font-size: 20px;
text-align: center;
padding: 10px;
background-color: black;
color: white;

}

a:link {
    margin-left: 10px;
    margin-right: 10px;
    color: #FFE948;
    text-decoration: none;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bolder;
}
a:visited {
    color: #04B4E5;
    font-style: oblique;
}
a:hover {
    color: #04B4E5;
    font-style: normal;
}
a:active {
    color: #FFE948;
    font-style: normal;
}
ol {list-style-type: lower-alpha;
padding: 5em; }
    
   

span.info {
  display: inline-block;
  background: black;
  border: 1px solid #fed7aa;
  color: #FFE948;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 14.4px;
  margin-bottom: 10px;
}

span.speaker {
  font-weight: 700;
  color: #FFE948;
  margin-right: 6px;
}

section.metadata{
    margin-left: auto;
  margin-right: auto;
}
.page,
.panel {
  text-align: left;
}
.panel {
  line-height: 1.7;   
}
section.page {
  margin-bottom: 48px;   
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
section.index {
  margin-bottom: 48px;   
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
section.table{
   width:10%; 
  margin-left: auto;
  margin-right: auto;
}
img {
 
  margin: 20px auto;  
  outline: 5px solid black;

}
.cover img {
  width: 600px;
  height: auto;
  outline: 5px solid black;
}
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  
  gap: 50px;
}
a.linkcolor{
    color:black;
}
